/* Hermano cercano */
/* h2 + p {
  color: red;
} */

/* Hermano general */
/* h2 ~ p {
  color: red;
} */

/* decendent */

div p {
  color: blue;
}

/* Child combinator */
div > p {
  color: red;
}
