* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  position: relative;
  top: 25vh;
  left: 25vw;
  background-color: rgb(169, 187, 11);
  width: 50%;
  border: 0.8rem solid rgb(95, 95, 25);
  border-radius: 0.8rem;
}

.pokemon-figure {
  position: relative;
  padding: 0.5rem;
  margin: 1.6rem auto;
  text-align: center;
  width: 80%;
}

.pokemon-figure img {
  border-radius: 0.5rem;
  width: 100%;
}

.pokemon-name {
  position: absolute;
  top: -3%;
  right: calc(50% - 9rem);
  background-color: rgb(169, 187, 11);
  border: 0.4rem solid rgb(95, 95, 25);
  font-size: 2.4rem;
  border-radius: 0.5rem;
}

.pokemon-info {
  background-color: rgb(241, 253, 178);
  margin: 0 2rem 1rem;
  border: 0.4rem solid rgb(95, 95, 25);
  border-radius: 0.5rem;
  padding: 1rem;
}

.pokemon-info__type,
.pokemon-info__description {
  background-color: transparent;
  margin: 0.6rem;
  padding: 0.8rem;
}

.pokemon-info ul {
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid black;
}

.pokemon-info span {
  font-size: 2.4rem;
}

.pokemon-info ul li {
  font-size: 1.6rem;
  margin: 0.5rem;
}
